body {
    overflow-x: hidden
}

#container {
    position: absolute;
    width:100%;
    left: 0;
    right:0;
    bottom: 40px;
    top: 0;
    overflow-y: hidden;
    overflow-x: auto;
}

/*hints*/
.visualization-hint .help {
    margin-right: 5px;
}

.visualization-hint .info{
    right: 0
}
/*spinner*/
.sk-circle {
    margin: auto;
    width: 40px;
    height: 40px;
    display: inline-block;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;

}
.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}
.sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}
.sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}
.sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}
.sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}
.sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}
.sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}
.sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}
.sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
.sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
.sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}
.sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
.sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}
.sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1);
          transform: scale(1);
      }
}

@keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1);
          transform: scale(1);
      }
}
/* end spinner */

.visualization-hint .help {
    max-width: 50px;
    margin: 0;
}

.visualization-hint:hover .help {
    max-width: 50px;
    margin: 0 5px 0 0;
}

.visualization-hint:hover .dont-show {
    max-width: 100px;
    margin: 0;
}

.visualization-hint.shown .hint {
    max-width: 370px;
    margin: 0;
}

/*bottom panel style*/
.bottomPanel {
    display: flex;
    bottom: 10px;
    position: absolute;
    width: 100%;
}

#layout {
    margin-left: 10px;
    width:40%;
}
#expressionBar {
    text-align: center;
    display: flex;
    position: relative ;
    background-color: rgba(240, 240, 240, 0.9);
    border: 1px solid lightgray;
    width: 400px;
    height: 30px;
    border-radius: 5px;
}

.buttonInExpBar {
    background-color: #58c3e5;
    color: white;
    height: 24px;
    width: 24px;
    overflow: hidden;
    outline: none;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    float: left;
    margin: 2px;
    border-radius: 50%;
}

#columnNames span {
    margin: 5px 1px 0 80px;
    float: left;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    max-width: 205px;
}

.buttonInExpBar:hover {
    background-color: #5491d2;
}

/* expression bar media queries */
@media  only screen and (max-width: 700px) {
    #expressionBar {
        margin: 10px 0 0 10px;
    }
    .bottomPanel {
        display:block
    }
}

@media only screen and (max-width: 450px) {
    #expressionBar {
        width: 340px;
    }
    #layout{
        display:flex;
    }
}

@media only screen and (max-width: 320px) {
    #expressionBar {
        width: 300px;
    }
}
/* end column bar media queries */

/* hint media queries */
@media  only screen and (max-width: 570px) {
    .visualization-hint {
        word-break: break-word;
        height: 32px;
        white-space: normal;
        margin-left: 10px;
        line-height: normal;
    }
    .visualization-hint .info{
        top: 6px;
    }
}

@media only screen and (max-width: 425px) {
    .visualization-hint {
        word-break: break-word;
        height: 32px;
        white-space: normal;
        margin-left: 10px;
        line-height: normal;
    }
    .visualization-hint .info{
        top: 6px;
    }
}

@media only screen and (max-width: 320px) {
    .visualization-hint {
        word-break: break-word;
        height: 32px;
        white-space: normal;
        margin-left: 10px;
        line-height: normal;
    }
    .visualization-hint .info{
        top: 6px;
    }
    .visualization-hint .help {
        margin-right: 0;
    }

    .visualization-help dl {
        margin: 0 0 1px 0;
    }
}
/* end hint media queries */

@media only screen and (orientation: landscape) {
    .visualization-help dl {
        margin: 0 0 1px 0;
    }
}
@media only screen and (max-height: 320px) and (orientation: landscape) {
    .visualization-help {
        padding-top: 10px;
    }
    .visualization-help dl {
        margin: 0 0 1px 0;
    }
}